<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Crop Management and Damage Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <a href="{{ url_for('index') }}" class="logo">Fasal</a>
        <ul class="navlist">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <button class="sign-in-btn"><h5><a href="{{ url_for('login') }}">Sign In</a></h5></button>
        </ul>
    </header>

<div class="header-content"><h1>
    Our diverse team of experts in agriculture, data science, and web development has come together to create <span>Smart Crop Management and Damage Prediction System</span>. Meet the minds behind the platform:</h1><br>
    <p>Harsh Bhardwaj (2nd Year B.tech CSE 4A)<br>
    Swayam Arora (2nd Year B.tech CSE 4A)<br><br><br>
    If you have questions, suggestions, or would like to collaborate with us, feel free to reach out. You can contact us at mru.edu.in.</p>
</div>

</body>
</html>